body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.menu-toggle {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #3498db;
    margin: 6px 0;
    transition: 0.4s;
}

.menu-toggle span:nth-child(2) {
    margin: 6px 0;
}

.menu {
    position: fixed;
    left: -250px;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    transition: 0.5s;
    overflow-y: auto;
    padding-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.menu.active {
    left: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 10px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    border-bottom: 1px solid #555;
}

.menu li:hover {
    background-color: #555;
}

.menu li#menuTeas {
    color: #fff; /* ou toute autre couleur souhaitée */
}

.dashboard-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.widget {
    text-align: center;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 10px;
}

.widget img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.widget h1 {
    color: #333;
}

.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.counter {
    font-size: 2em;
    margin: 0 10px;
    color: #3498db;
}

button {
    font-size: 1em;
    padding: 8px 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

button:hover {
    background-color: #2980b9;
}

@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
        align-items: center;
    }

    .widget {
        width: 80%;
    }

    .menu-toggle {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
    }

    .menu {
        width: 80%;
        left: -80%;
    }

    .menu.active {
        left: 0;
    }
}
